doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    title Something
    link(rel='stylesheet' href='styles.css')
  
  body
    p I love playing video games!
    script(src='bundle.js')
